/*  configurações gerais */

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: sans-serif;
}
html{
    font-size: 16px;
}
a{
    text-decoration: none;
    color: #3c4043;
}
a:hover{
    text-decoration: underline;
    
}
img{
    width: 100%;
}

/* cabeçalho */
header{
    width: 100%;
    padding: 10px;
    display: flex;
    justify-content: end;
}
nav{
    width: 18%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 0.9rem;
}
nav ul{
    display: flex ; 
    list-style: none;
    align-items: center;
   
}
nav li a{
    padding: 10px;
    text-decoration: none;
    color: rgb(54, 54, 54)    ;
    cursor: pointer;
}
.menu-apps{
    width: 20px;
}
.menu-pessoal{
    width: 35px;
}

/* container principal  */

.container-principal{
    padding-top: 10px;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
}

/* container principal - logo  */
.container-logo-google  img{
    width: 100%;
}
.container-logo-google{
    width: 280px;
}
/* container principal - pesquisa  */

.container-barra-pesquisa{
    margin-top: 20px;
    width: 600px;
    height: 44px;
    display: flex;
    padding: 0px 10px 0px 10px;
    justify-content: space-between;
    align-items: center;
    border-radius: 30px;
    border: 1px solid gray ;
}

.icone-pesquisa{
    width: 18px;

}
.icone-pesquisa-audio{
    width: 25px; 
    cursor: pointer;
    
}
.container-barra-pesquisa form{
    width: 90%;
    height: 80%;
}
#input-pesquisa{
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
}

/* container principal - botoes */

.container-btn-complementares{
    margin-top: 20px;
    width: 390px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
button{
    background-color: #f8f9fa;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid white;
}
button:hover{
    border: 1px solid #dfe5eb;
}


/* footer */

footer{
    position: absolute;
    bottom:0px ; 
    border-top: 1px solid rgb(188, 184, 184); padding: 10px;
    background-color:#ebebeb;
    flex-wrap: wrap;
    width: 100%;
    font-size: 0.8rem;
    display: flex;
    justify-content: space-between;
}
footer ul{
    display: flex;
}
footer li{
    list-style: none ;
    padding: 10px;
}